extends layout

block content
  .container(style="margin-top:100px")
    .jumbotron
      h1 404
      p Well this is embarassing. It looks like the page you're looking for isn't here. Feel free to look around if you want. When you're done the button below will take you back to the home page.
      a.btn.btn-lg.btn-primary(href="/home" role="button") Home »
      
