extends layout

block content
  .container
    .login-container
      form.form-horizontal.form-signin(action="/user/create" method="POST")
        h2.form-signin-heading Sign up
        br
        .form-group
          label.col-sm-2.control-label(for="first_name") First name
          .col-sm-10
            input.form-control(type="text" id="first_name" placeholder="First name" required="" autofocus="" autocomplete="off"  name="first_name")

        .form-group
          label.col-sm-2.control-label(for="last_name") Last name
          .col-sm-10
            input.form-control(type="text" id="last_name" placeholder="Last name" required="" autofocus="" autocomplete="off" name="last_name")

        .form-group
          label.col-sm-2.control-label(for="username") Username
          .col-sm-10
            input.form-control(type="text" id="username" placeholder="Username" required="" autofocus="" autocomplete="off" name="username")

        .form-group
          label.col-sm-2.control-label(for="email_address") Email
          .col-sm-10
            input.form-control(type="text" id="email_address" placeholder="Email address" required="" autofocus="" autocomplete="off" name="email_address")

        .form-group
          label.col-sm-2.control-label(for="password") Password
          .col-sm-10
            input.form-control(type="password" id="password" placeholder="Password" required="" autocomplete="off" name="password")

        .form-group
          label.col-sm-2.control-label(for="confirm_password") Confirm
          .col-sm-10
            input.form-control(type="password" id="confirm_password" placeholder="Confirm Password" required="" autocomplete="off" name="confirm_password")

        button.btn.btn-lg.btn-primary.btn-block.create-user(type="submit") Sign up
      