<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Incubator</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/login">Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<body>
    <div class="login-container">
      <form ng-submit="createUser()" ng-controller="LoginController" class="form-signin">
        <h2 class="form-signin-heading">Sign up</h2>
        <input type="text" class="form-control" placeholder="First name" required="" autofocus="" ng-model="first_name">
        <input type="text" class="form-control" placeholder="Last name" required="" autofocus="" ng-model="last_name">
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="username">
        <input type="text" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="email_address">
        <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div> 
