
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">lakehouse</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/create">Create User</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="login-container">
  <form ng-submit="authenticateUser()" ng-controller="LoginController" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="username">
    <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
<!--     <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div> 
