<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<body>
    <div class="login-container">
      <form ng-submit="updateUser()" ng-controller="LoginController" class="form-signin">
        <h2 class="form-signin-heading">Update Info</h2>
        <input type="text" class="form-control" placeholder={{first_name}} required="" autofocus="" ng-model="firstname" value={{first_name}}>
        <input type="text" class="form-control" placeholder={{last_name}} required="" autofocus="" ng-model="lastname"value={{last_name}}>
        <input type="text" class="form-control" placeholder={{username}} required="" autofocus="" ng-model="username" value={{username}}>
        <input type="text" class="form-control" placeholder={{email_address}} required="" autofocus="" ng-model="email" value={{email_address}}>
        <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </form>
</div> 
