//Global colors that are easy to modify - you're welcome
$blue-green: #20B2AA;
$blue-green-selected: #1FA59E;
$blue-green-dark: #1A807B;

$coral: #E9696D;
$coral-selected:#D16F6F;
$coral-dark: #B45F5F;

body {
	.container .img-circle {
		width: 100px;
		height: 100px;
		margin: auto;
		margin-top: 50px;
	}
	form {
		margin: 50px 0;
	}
	.label-error {
		color:red;
	}
	.form-horizontal .control-label {
		white-space: nowrap;
		text-align: left;
	}
	margin-bottom:100px;
	.navbar {
		margin-bottom: 0;
	}
	p, li {
		line-height: 1.75em;
	}
	.login-container {
		.jumbotron {
			margin-top:50px;
		}
	}
	.navbar-home {
		font-size:14px;
		background-color:$blue-green;
		.navbar-nav li a:hover {
			background-color:$blue-green-selected;
		}
		 @media screen and (max-width: 767px) {
			.navbar-collapse, .navbar-default .navbar-form {
				border-color: $blue-green-dark;
				background-color: $blue-green-dark;
			}
		}
		.navbar-toggle {
			&:hover .icon-bar {
				background-color:$blue-green-dark;
			}
		}
	}
	.navbar-setup {
		font-size:14px;
		background-color:$coral;
		.navbar-nav li a:hover {
			background-color:$coral-selected;
		}
		 @media screen and (max-width: 767px) {
			.navbar-collapse, .navbar-default .navbar-form {
				border-color: $coral-dark;
				background-color: $coral-dark;
			}
		}
		.navbar-toggle {
			&:hover .icon-bar {
				background-color:$coral-dark;
			}
		}
	}
	.hero {
		&.navbar-setup {
			background: $coral;
		}
		&.navbar-home {
			background:$blue-green;
		}
		width:100%;
		height:300px;
	}
	.navbar-header {
		margin-left: 5px;
		a {
			font-size:18px;
		}
	}

	a.linked {
		opacity: 0.3;
	}

	.login-container {
		max-width: 500px;
		margin: 0 auto;
		input[type=text] {
			padding:20px 10px 20px 10px;
		}
		input[type=password] {
			padding:20px 10px 20px 10px;
		}
		.create-user, .sign-in {
			margin:20px 0 20px 0;
		}
		.btn-social {
			width:25%;
			padding:10px;
			text-align:center;
			i {
				border-right:none;
				position:relative;
			}
		}
	}
}
