extends layout


block content
  .hero
  .container
    h1 Nodestrap starter template
    p.lead
      | Use this stack as a way to quickly start any new project, without writing boilerplate. The simplicity of Node.js, and the awesomeness of SQL with authentication courtesy of Passport.js. 
      br
      br
      | All you get is this project and an idea. With social authentication and user management baked in you're free to work on the important stuff. 

    h2 Stack
    ul
      li Node.js
      li Express
      li Sequelize.js
      li Passport.js
      li Bootstrap
      li Jade
      li Coffeescript
