extends layout

block content
  .login-container
    form.form-signin(action="/login" method="POST")
      h2.form-signin-heading Please sign in
      input.form-control(type="text" placeholder="Username" required="" autofocus="" name="username")
      input.form-control(type="password" placeholder="Password" required="" name="password")
      button.btn.btn-lg.btn-primary.btn-block.sign-in(type="submit") Sign in

    a.btn.btn-block.btn-social.btn-twitter(href="/auth/twitter") Twitter
      i.fa.fa-twitter 

    a.btn.btn-block.btn-social.btn-facebook(href="/auth/facebook") Facebook
      i.fa.fa-facebook 

    a.btn.btn-block.btn-social.btn-linkedin(href="/auth/linkedin") LinkedIn
      i.fa.fa-linkedin

    a.btn.btn-block.btn-social.btn-google-plus(href="/auth/google") Google
      i.fa.fa-google-plus  

    a.btn.btn-block.btn-social.btn-github(href="/auth/github") Github
      i.fa.fa-github
