extends layout

block content
  .hero(class="#{nav_class}")
  .container
    h1 Setup

    p
      | Tousled Portland wayfarers keytar letterpress Etsy, fap biodiesel lomo tote bag organic kogi VHS try-hard. Tofu locavore Brooklyn, Etsy fashion axe street art hella pop-up Cosby sweater wayfarers fanny pack wolf. You probably haven't heard of them YOLO Pinterest squid four loko, ethnic swag Etsy viral leggings tousled. Next level paleo Pitchfork Carles, craft beer flexitarian sartorial. Shabby chic Banksy Echo Park actually. Fixie meggings fanny pack photo booth Blue Bottle. Cred bespoke biodiesel beard banh mi occupy.

      br 
      br

      | Readymade cardigan leggings tofu, disrupt Intelligentsia gastropub irony. Flexitarian whatever wolf wayfarers Echo Park, YOLO mlkshk Williamsburg. Hashtag banjo tofu, biodiesel hella Bushwick kogi 8-bit ugh occupy retro iPhone Tumblr cornhole. Mustache cray cornhole fixie, bicycle rights brunch organic post-ironic hashtag VHS literally sartorial actually master cleanse plaid. Asymmetrical Tonx direct trade, ugh single-origin coffee seitan butcher normcore whatever retro. Gluten-free pop-up cardigan American Apparel, Pinterest Carles fixie fashion axe umami. Pork belly selvage flannel, swag mumblecore blog post-ironic leggings PBR artisan salvia.

      br
      br

      | Organic art party normcore fixie try-hard. Pickled Carles Pitchfork bitters Wes Anderson, disrupt meh wayfarers Bushwick artisan. Post-ironic lo-fi Terry Richardson readymade selfies, disrupt try-hard cardigan twee ugh. Odd Future fap Thundercats viral, art party tote bag bicycle rights try-hard bespoke Wes Anderson. Bicycle rights kale chips direct trade food truck sustainable cred, typewriter paleo try-hard church-key bitters single-origin coffee asymmetrical jean shorts. Swag plaid single-origin coffee tofu, tote bag Etsy letterpress jean shorts lomo gastropub banh mi McSweeney's roof party. Lomo trust fund Helvetica Austin, fanny pack wolf bicycle rights Williamsburg jean shorts post-ironic brunch.
