.navbar.navbar-default(role="navigation" class="#{nav_class}")
  .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/home") Starterpack
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - each link in nav_links
          li
            a(href="#{link.href}") #{link.title}


